<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../../webjars/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="../../webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/summary.css">

    <title>T.I.M's Detailing</title>
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
</head>
<body>
    <!--Navigation Bar-->
    <nav th:replace="parts/navigation :: navbar"></nav>

    <div class="container text-center pt-4">
        <p class="h1 main_sign">
            Your Packages
        </p>
    </div>

    <!--Table of packages-->
    <div class="container pr-5 pl-5">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Car Model</th>
                <th scope="col">Points</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="package : ${packages}">
                <td>
                    <a class="link" th:href="@{package/{id}(id=${package.getPackageId()})}" th:text="${package.package_name}"></a>
                </td>
                <td th:text="${package.price}"></td>
                <td th:text="${package.car_model}"></td>
                <td th:text="${package.points}"></td>
                <td><a th:href="@{/detailing/update/{id}(id=${package.getPackageId()})}">update</a></td>
                <td><a th:href="@{/detailing/delete/{id}(id=${package.getPackageId()})}">delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>